.section{
  display: flex;
  width: 100vh;
  height: 100vw;
}

.illu {
  width: 40%;
  min-width: 200px;
}

.me {
  font-size: 2em !important;
  text-align: center;
  color: #000;
}

.container {
  width: 100%;
  height: 100vh;
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: scroll; */
  background-color: #78d3a7;
}

.container div.section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  margin: auto;
  font-size: 2em;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation {
  text-align: left;
}

.bloc {
  display: block;
  padding: 20px;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.story {
  display: block;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1em;
  background-color: #62ba8e;
}

.story-title {
  font-size: 4vw;
}

.story-text {
  font-size: 2.3vw;
}

.social-links {
  text-align: center;
  margin: 50px;
}

.social-links > * {
  display: block;
  margin: 10px;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column; /* Facultatif : change la direction du flux en colonne sur les petits écrans */
  }

  .illu {
    display: none; /* Cache l'élément sur les écrans de petite taille */
  }

  .me {
    font-size: 1.5em !important;
  }
}